<div *ngIf="band" class="container-fuid bg-1">

	<div class="main row">

		<div class="col-sm-8">
      <div>
          <h2>{{band[0].name}}</h2>

          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" [src]="id | safe"></iframe>
          </div>

      </div>
    </div>

    <div class="col-sm-4">
    <div class="thumbnail">
      <img src={{band[0].urlImg}} alt={{band[0].urlImg}}/>
    </div>
  </div>
    <span class="bandText">{{band[0].text}}</span>

	</div>
  <br>  	
  <br>

</div>